.nav {
  width: 95%;
  height: 60px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 4;
}
.nav-p1 {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav-home,
.nav-tattoos,
.nav-appointment,
.nav-contact {
  color: rgb(87, 87, 87);
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-size: 16px;
}
.nav-home:hover,
.nav-tattoos:hover,
.nav-appointment:hover,
.nav-contact:hover {
  color: rgb(0, 0, 0);
}
